﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.validation-summary-valid {
     display: none;
}

#content {
    position:relative;
    background:#fff;
    padding:50px 0 0 0;
}

#container
{
    height:75vh;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 0px;
}

.full-height
{
    height:100%;
}
.full-height-scrolable
{
    max-height:60vh !important;
    overflow-y: auto;
}

.offline-color {
    color: firebrick;
}
.online-color {
    color: limegreen;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.with-right-padding {
    padding-right: 1em !important;
}
