﻿@{
    ViewBag.Title = "Chat";
}

<div id="bodyContainer" ng-app="ChatAppSPA" ng-controller="ChatCtrl" ng-init="retrieveCurrentUserData()" ng-cloak="">
    <section id="content">
        <div class="container" id="container">
            <div class="row full-height">
                <div class="col-md-3 panel-group nopadding with-right-padding full-height">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object img-circle" style="width:60px;height:60px" ng-src="{{getImagePath(currentUser.id)}}" alt="" />
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" ng-click="">{{currentUser.nick}}</h4>
                                    <p>
                                        Status:
                                        <span class="glyphicon glyphicon-user" ng-class="{'online-color': currentUser.isOnline, 'offline-color': !currentUser.isOnline}"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading text-center">Chats</div>
                    </div>


                    <div class="panel panel-info full-height-scrolable">
                        <div class="list-group" ng-repeat="chat in chatRooms" ng-click="selectChat(chat)">
                            <a href="#" class="list-group-item" ng-disabled="working" ng-class="{active: isActive(chat)}">
                                <span class="glyphicon glyphicon-user" ng-class="{'online-color': chat.isOnline, 'offline-color': !chat.isOnline}"></span>
                                <strong>{{chat.name}}</strong>
                                <span class="badge" ng-show="chat.newMessages > 0">{{chat.newMessages}}</span>
                            </a>
                        </div>
                    </div>

                    <div class="panel panel-success" ng-show="successResult">
                        <div class="panel-heading">{{title}}</div>
                    </div>

                    <div class="panel panel-danger" ng-show="!successResult">
                        <div class="panel-heading">{{title}}</div>
                    </div>
                </div>

                <div class="col-md-9 nopadding full-height">
                    <div class="panel-group" ng-show="selectedChat!=null">
                        <div class="panel panel-info">
                            <div class="panel panel-heading">
                                <div class="media">
                                    <div class="media-left">
                                        <img ng-src="{{selectedChat.imagePath}}" class="img-circle media-object" style="width:60px;height:60px">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading" ng-click="">{{selectedChat.name}}</h4>
                                        <p>Conversation with {{selectedChat.name}}</p>
                                    </div>

                                    <div class="media-right">
                                        <button class="btn btn-lg btn-info" ng-if="moreMessages" ng-click="gotoLastMessage()">
                                            {{ moreMessages }} new messages
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-body full-height-scrolable" scroll id="msgsPanel">
                                <div class="list-group" ng-repeat="msg in messages" id="anchor{{msg.id}}">
                                    <div class="panel" ng-class="{'panel-default': isOtherMessage(msg.author), 'panel-warning': isOwnerMessage(msg.author)}">
                                        <div class="panel panel-heading">
                                            <div class="media">
                                                <div class="media-left">
                                                    <img ng-src="{{msg.author.imagePath}}" class="img-circle media-object" style="width:40px;height:40px">
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading" ng-click="">{{msg.author.nick}}</h4>
                                                    <p>[#{{msg.id}}] {{msg.date}}</p>
                                                </div>
                                            </div>
                                            <div class="panel panel-body bg-danger">
                                                {{msg.text}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="well">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Message" ng-model="messageText">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary" type="submit" ng-click="sendMessage()" ng-disabled="messageText === ''" title="Enter message to enable send button">
                                                <span class="glyphicon glyphicon-send"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group" ng-show="selectedChat==null">
                        <div class="panel panel-success">
                            <div class="panel panel-heading">
                                <h3 class="text-center" ng-click="">Select user to view the messages</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.1.min.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/app/chat-controller.js")
}
