﻿@model ChatAppSPA.Models.ChangeProfilePictureViewModel
@{
    ViewBag.Title = "Change Profile Picture";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangeProfilePicture", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Profile Picture Form</h4>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <img src='@Url.Action( "show", "ProfilePicture", new { id = ViewBag.UserId })' alt="" />
        </div>
    </div>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.UserProfilePicture, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserProfilePicture, new { type = "file" })
                @Html.ValidationMessage("CustomMessage")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change profile picture" class="btn btn-default" />
            </div>
        </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
